# serverless.yml
service: Isogrammer
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs18.x

functions:
  api:
    handler: src/handler.isIsogramHandler
    description: Checking if the word is isogram
    events:
      - httpApi:
          path: /
          method: get
